/** @format */

@media (max-width: 480px) {
  .LandingDesktopView {
    .construction {
      margin-top: -17vw;
      position: absolute;
      background: linear-gradient(
        0deg,
        rgba(32, 90, 235, 0.318),
        rgba(209, 50, 220, 0.109)
      );
      top: 15%;
      left: 10%;
      backdrop-filter: blur(2.5px) !important;
    }
  }
}

body {
  .LandingDesktopView {
    columns: 2;
    position: relative;
    img {
      columns: 300px;
      z-index: 10;
    }
    .construction {
      margin-top: -17vw;
      position: absolute;
      background: linear-gradient(
        0deg,
        rgba(32, 90, 235, 0.318),
        rgba(209, 50, 220, 0.109)
      );
      backdrop-filter: blur(2.5px) !important;
      z-index: 4;
      top: 70%;
      left: 15%;
      color: white;
      padding: 10px;
      border-radius: 10px;
      font-size: 3.5rem;
      font-weight: 600;
      width: 70%;
      text-align: center;
    }
  }
}
.hidden {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}
