@mixin button(
  $button-bg-color,
  $button-hover-bg-color,
  $button-color,
  $button-hover-color,
  $button-border-color,
  $button-hover-border-color,
  $button-padding,
  $button-border-radius,
  $button-cursor
) {
  background-color: $button-bg-color;
  border: 1px solid $button-color;
  color: $button-color;
  padding: $button-padding;
  border-radius: $button-border-radius;
  cursor: $button-cursor;
  &:hover {
    background-color: darken($button-bg-color, 10%);
  }
}

@mixin nav(
  $nav-bg-color,
  $nav-color,
  $nav-border-color,
  $nav-padding,
  $nav-border-radius,
  $nav-cursor
) {
  background-color: $nav-bg-color;
  border: 1px solid $nav-border-color;
  color: $nav-color;
  padding: $nav-padding;
  border-radius: $nav-border-radius;
  cursor: $nav-cursor;
}
