@mixin button(
  $button-bg-color,
  $button-color,
  $button-padding,
  $button-border-radius,
  $button-cursor
) {
  background-color: $button-bg-color;
  border: 1px none $button-color;
  color: $button-color;
  padding: $button-padding;
  border-radius: $button-border-radius;
  cursor: $button-cursor;
}

@mixin nav(
  $nav-bg-color,
  $nav-color,
  $nav-padding,
  $nav-border-radius,
  $nav-cursor
) {
  background-color: $nav-bg-color;
  color: $nav-color;
  padding: $nav-padding;
  border-radius: $nav-border-radius;
  cursor: $nav-cursor;
}

@mixin hover($hover-bg-color, $hover-color) {
  background-color: $hover-bg-color;
  color: $hover-color;
}

//
//
//

// @keyframes discoGlow {
//   0% {
//     // filter: drop-shadow(0 0 10px red);
//     filter: contrast(200%);
//   }
//   25% {
//     // filter: drop-shadow(0 0 10px yellow);
//     filter: contrast(100%);
//   }
//   50% {
//     // filter: drop-shadow(0 0 10px green);
//     filter: contrast(50%);
//   }
//   75% {
//     // filter: drop-shadow(0 0 10px blue);
//     filter: contrast(10%);
//   }
//   100% {
//     // filter: drop-shadow(0 0 10px purple);
//     filter: contrast(0%);
//   }
// }

@keyframes discoGlow {
  0% {
    filter: hue-rotate(10deg) saturate(200%) brightness(150%);
    transition: filter 0.5s ease-in-out;
  }
  25% {
    filter: hue-rotate(72deg) saturate(150%) brightness(125%);
    transition: filter 0.5s ease-in-out;
  }
  50% {
    filter: hue-rotate(144deg) saturate(100%) brightness(100%);
    transition: filter 0.5s ease-in-out;
  }
  75% {
    filter: hue-rotate(216deg) saturate(150%) brightness(125%);
    transition: filter 0.5s ease-in-out;
  }
  100% {
    filter: hue-rotate(288deg) saturate(200%) brightness(150%);
    transition: filter 0.5s ease-in-out;
  }
}
