@use "variables" as *;

.mobile {
  display: none;
  @media (max-width: 480px) {
    display: block;
    .desktop {
      display: none;
    }
  }

  .upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3vw;
    padding-right: 3vw;
    flex-wrap: wrap;
    height: 21vw;
    background-color: $primary-color;

    img {
      height: 78px;
    }

    .hamburgerimg {
      height: 70px;
    }

    padding-bottom: 0;
    border-bottom: 1px solid wheat;
  }

  .lower {
    z-index: $z-mobile-nav;
    bottom: 0;
    height: 27vw;
    width: 100vw;
    position: fixed;
    background-color: $secondary-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    transition: all 0.3s ease-in-out;

    .a {
      padding: 0vw 4vw 0vw 4vw;

      img {
        height: 8vw;
      }
    }

    .close {
      display: none;
      transition: all 0.3s ease-in-out;
      z-index: $z-mobile-nav;
    }
  }

  .lower.show {
    height: 100vh !important;
    width: 60vw;
    bottom: auto;
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    animation: slideIn 0.9s forwards;
    z-index: $z-mobile-nav;

    .close {
      display: block;
      position: absolute;
      top: 2vw;
      right: 0vw !important;
      z-index: $z-mobile-nav;

      img {
        height: 8vw;
        z-index: $z-mobile-nav;
      }
    }
  }
  .lower.hide {
    height: 0;
    animation: slideOut 0.3s forwards;
    z-index: $z-mobile-nav;
  }
  .lower {
    animation: all 0.9s forwards;
    z-index: $z-mobile-nav;
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 1000vh;
  background: linear-gradient(rgba(34, 37, 208, 0.2), rgba(162, 208, 34, 0.2));
  backdrop-filter: blur(17px);
  transition: all 0.3s ease-in-out;
  z-index: $z-overlay;
}

.overlay.show {
  display: block;
  animation: fadeIn 0.3s forwards;
  z-index: $z-mobile-nav;
}
.overlay.hide {
  animation: fadeOut 0.3s forwards;
  z-index: $z-mobile-nav;
}
.closeimg {
  height: 21vw;
  width: 21vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-mobile-nav;
  background-color: $primary-color;
  border-radius: 50%;
  z-index: $z-mobile-nav;
}
