/** @format */
#OthersSectionActive {
  position: absolute;
  top: 12rem;
  left: -10rem;
  transform: translate(-50%, -50%);
  background-color: rgba(39, 101, 195, 0.215);
  padding: 1.6rem;
  box-shadow: 0px 0px 20px 0.8px rgba(231, 226, 226, 0.524);
}

#ValutSectionShow {
  padding: 1rem;
  background-color: #9614c66a !important;
  cursor: pointer;
  height: 2rem !important;
  width: 8rem !important;
  font-size: 0.8em;
}
#CrossBtnVault {
  position: absolute !important;
  top: 0.7rem;
  left: 1.4rem;
  transform: translate(-50%, -50%);
  background-color: red;
  min-height: 1rem;
  min-width: 1rem;
  border-radius: 50%;
  &:hover {
    &::after {
      content: "X";
      text-align: center;
      color: black;
      font-size: 1.5rem;
      position: absolute;
      top: -0.3rem;
      left: 0.3rem;
      cursor: pointer;
    }
  }
}
