/** @format */

#ValutSectionShow {
  position: absolute !important;
  top: 12rem;
  left: 0rem;
  background-color: #9425258f !important;
}
#CrossBtnVault {
  position: absolute !important;
  top: 12rem;
  left: 0rem;
  background-color: #9425258f !important;
}
