$primary-text-color: #262424;
$secondary-text-color: #0c1e68;
$primary-bg-color: yellow;
$secondary-bg-color: #282626;
$primary-border-color: #262424;
$secondary-border-color: yellow;
$primary-link-color: #007bff;
$primary-link-hover-color: #0056b3;
$primary-link-active-color: #0056b3;
$primary-link-visited-color: #0056b3;
$primary-link-decoration: none;
$primary-link-hover-decoration: underline;
$primary-link-active-decoration: underline;
$primary-link-visited-decoration: underline;
$primary-link-hover-bg-color: transparent;
$primary-link-active-bg-color: transparent;
$primary-link-visited-bg-color: transparent;
