$primary-text-color: #f1bf85;
$secondary-text-color: #219c9c;
$primary-bg-color: #c77d27;
$secondary-bg-color: #060310;
$primary-border-color: #060310;
$secondary-border-color: #c77d27;
$primary-link-color: #007bff;
$primary-link-active-color: #0056b3;
$primary-link-visited-color: #0056b3;
$primary-hover-bg-color: #f1bf85;
$primary-hover-text-color: #f1bf85;
$secondary-hover-bg-color: #060310;
$secondary-hover-text-color: #060310;
$primary-link-decoration: none;
$primary-link-hover-decoration: underline;
$primary-link-active-decoration: underline;
$primary-link-visited-decoration: underline;
$primary-link-hover-bg-color: transparent;
$primary-link-active-bg-color: transparent;
$primary-link-visited-bg-color: transparent;
