@use "variables" as *;
@use "mixins" as *;
@use "desktopnavbar";
@use "navHover";
@use "mobileNavBar";
@use "keyframes";
@use "desktopAboutMeBody";
@use "showDateAndTime";
@use "desktopLandingPageBody";
@use "desktopplaygrpunfMainPage";
@use "contactMePage";
@use "otherView";
@use "loader";

* {
  padding: 0;
  margin: 0;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  border: none;
  transition: all 0.3s ease-in-out;
}

html,
body {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  background-color: $primary-color;
  padding: 0vw;
  margin: 0vw;
  font-family: "Reenie Beanie", cursive;
  font-size: xxx-large;
  color: $primary-color;
  overflow-x: hidden;
}
.text-center {
  text-align: center;
}
